<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' type='text/css' href='{{ url_for('static', filename='/css/bootstrap.css') }}'>
    <link rel='stylesheet' type='text/css' href='{{ url_for('static', filename='/css/style.css') }}'>
    <title>Writer's Workshop</title>
</head>
<body>
    <div class="workshop-header">
        <h1 class="h1-workshop">Welcome Back {{session['firstname']}}!</h1>
        <div class="workshop-header-btns">
            <form action="/dashboard"><button type="submit" class="btn-success btn-workshop">Dashboard</button></form>
            <form action="/logout"><button type="submit" class="btn-danger btn-workshop">Logout</button></form>
        </div>
    </div>
    <br>
    <h2 class="h2-workshop">Write a Review of {{submission.title}}</h2>
    <p hidden>{{submission.id}}</p>
    <br><br>
    <textarea name="submission_text" id="submission_text" cols="100" rows="10"></textarea>
    <div class="workshop-list">
        <form action="/review/create">
            <textarea name="review_text" id="review_text" cols="100" rows="10"></textarea>
            <br><br><br><br>
            <button type="submit" class="btn-primary btn-register">Submit</button>
        </form>
    </div>
</body>