<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' type='text/css' href='{{ url_for('static', filename='/css/bootstrap.css') }}'>
    <link rel='stylesheet' type='text/css' href='{{ url_for('static', filename='/css/bootstrap.min.css') }}'>
    <link rel='stylesheet' type='text/css' href='{{ url_for('static', filename='/css/style.css') }}'>
    <link rel='stylesheet' type='text/css' href='{{ url_for('static', filename='/css/newstyle.css') }}'>
    <script crossorigin src="https://unpkg.com/react@18/umd/react.development.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@18/umd/react-dom.development.js"></script>
    <link rel="script" type="script" href='{{ url_for('static', filename='/src/load-react.js') }}'>
    <link rel="import" type="script" href='{{ url_for('static', filename='/src/Group.js') }}'>
    <title>Writer's Workshop</title>
</head>
<body>
<div class="workshop-header">
    <h1 class="h1-workshop">Welcome Back {{session['firstname']}}</h1>
    <!-- <div class="workshop-header-btns">
        <form action="/genre/new"><button type="submit" class="btn-warning btn-workshop">Create a New Genre</button></form>
        <form action="/group/new"><button type="submit" class="btn-primary btn-workshop">Create a New Group</button></form>
        <form action="/logout"><button type="submit" class="btn-primary btn-workshop">Logout</button></form>
    </div>  -->
</div>
<div class="workshop-menus">
    <div>
        <div class="dropdown">
            <button class="dropbtn">Your Profile</button>
            <div class="dropdown-content">
                <a href="#">Upgrade to Premium</a>
                <a href="#">View your profile</a>
                <a href="Logout">Logout</a>
            </div>
        </div>
    </div>
    <div class="dropdown">
        <button class="dropbtn">Community</button>
        <div class="dropdown-content">
            <a href="/genre/new">Create a new Genre</a>
            <a href="/group/new">Create a new Group</a>
            <a href="/submit/new">Submit your work</a>
            <a href="#">Browse user submissions</a>
        </div>
    </div>
</div>
<br>
{% with messages = get_flashed_messages() %}    <!-- declare a variable called messages -->
    {% if messages %}                           <!-- check if there are any messages -->
        {% for message in messages %}           <!-- loop through the messages -->
            <p class="dashboard-message">{{message}}</p>                  <!-- display each message in a paragraph tag -->
        {% endfor %}
    {% endif %}
{% endwith %}
<div class="dashboard-master">
    <div class="main-column">
        <h2>Your Submissions</h2>
        <br>
        <div class="workshop-list">
            {% for submission in submissions %}
                <p><a href="/submit/review/{{submission.id}}">{{submission.title}}</a>     {{submission.review_count}} Reviews</p>
            {% endfor %}
        </div>
    </div>
    <div class="right-column">
        <h2>Available Groups</h2>
        <br>
        <div class="workshop-list" id="group-list">
            {% for group in groups %}
                <div class='group-box'>
                    <h4>{{group.name}}</h4>
                    <p>founded by {{group.creator.first_name}} {{group.creator.last_name}}</p>
                    <p>This group has {{group.member_count}} members</p>
                    <p><a href="/group/{{group.id}}">Visit this group</a>     <a href="/group/join/{{group.id}}">Join this group</a></p>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
</body>
</html>
<!-- <script>
    function loadReact() {
        console.log("got to loadReact()")
        //loadGroups()
    }
    function loadGroups() {
        console.log('got to loadGroups()')
        const domContainer = document.querySelector('#group-list');
        const root = ReactDOM.createRoot(domContainer);
        root.render(Group)
}
function testFunction(data) {
        console.log(data)
        test_groups = data
        console.log("printing test_groups")
        for (var k = 0; k <= test_groups.length; k++){
            test_group = test_groups[k]
            console.log(test_group)
        }
    }
testFunction({{ _groups|safe }})

</script> -->