<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' type='text/css' href='{{ url_for('static', filename='/css/bootstrap.css') }}'>
    <link rel='stylesheet' type='text/css' href='{{ url_for('static', filename='/css/style.css') }}'>
    <link rel='stylesheet' type='text/css' href='{{ url_for('static', filename='/css/newstyle.css') }}'>
    <title>Writer's Workshop</title>
</head>
<body>
    <div id="app">
        <h1>Welcome to Writer's Workshop!</h1>
        <form action="/signup">
            <label for="signup">Click here to Sign up!</label>
            <button type="submit" id="signup" name="signup" class="btn-success btn-register">Signup</button>
        </form>
        <form action="/signin">
            <label for="signin">Already a member? click here to sign in!</label>
            <button type="submit" id="signin" name="signin" class="btn-success btn-register">Log In</button>
        </form>
    </div>
</body>
</html>