<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' type='text/css' href='{{ url_for('static', filename='/css/bootstrap.css') }}'>
    <link rel='stylesheet' type='text/css' href='{{ url_for('static', filename='/css/style.css') }}'>
    <title>Writer's Workshop</title>
</head>
<body>
    <div class="workshop-header">
        <h1 class="h1-workshop">Welcome Back {{session['firstname']}}!</h1>
        <div class="workshop-header-btns">
            <form action="/dashboard"><button type="submit" class="btn-success btn-workshop">Dashboard</button></form>
            <form action="/logout"><button type="submit" class="btn-danger btn-workshop">Logout</button></form>
        </div>
    </div>
    <br>
    <h2 class="h2-workshop">{{submission.title}}</h2>
    <br>
    <div class="submission-div">
        <label for="submission_text"> by {{submission.author.first_name}} {{submission.author.last_name}}</label>
        <textarea readonly name="submission_text" id="submission_text" rows="15" class="submission_area">{{submission.data}}</textarea>
    </div>
    <br><br>
    <form action="/review/update/{{review.id}}" method="post">
        <h2 class="h2-workshop">Update Your Review</h2>
        <br>
        <div class="submission-div">
            <label for="review_text">Your Feedback: </label>
            <input type="text" hidden readonly name="submission_id" id="submission_id" value="{{submission.id}}">
            <textarea name="review_text" id="review_text" rows="15" class="submission_area">{{review.text}}</textarea>
            <button type="submit" class="btn-success btn-workshop btn-submission">Update</button>
        </div>
    </form>
</body>