.ws-header {
    border: 3px red solid;
    width: 100%;
    height: 20%;
}
.groups-container {
    border: 3px blue solid;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 80%
}
.main {
    border: 3px black solid;
    display: flex;
    flex-direction: row;
    width: 100%
}
.dashboard {
    border: 3px yellow solid;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50%;
}
.ws-header h2 {
    align-content: center;
    text-align: center;
}
.ws-header p {
    text-align: center;
}
.nav-column {
    border: 3px pink solid;
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 100%;
}
.item-box {
    border: 3px green solid;
    width: 20%;
    height: 100%;
}
.items-box {
    border: 3px gold solid;
    width: 100%;
    height: 100%;
}
.items-box h2 {
    align-content: center;
    text-align: center;
}
